* {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}
body {
    min-height: 100vh;
    background: linear-gradient(45deg, #323040, #1c1b20);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.logo {
    width: 180px;
    padding-top: 15px;
    padding-left: 10px;
    cursor: pointer;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 490px;
    background: linear-gradient(45deg, #323040, #1c1b20); 
    box-shadow: 0 0 50px #806cf5;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 40px;
    overflow: hidden;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

.wrapper.active .form-wrapper.sign-in {
    transform: translateY(-450px);
    -webkit-transform: translateY(-450px);
    -moz-transform: translateY(-450px);
    -ms-transform: translateY(-450px);
    -o-transform: translateY(-450px);
}

.wrapper .form-wrapper.sign-up {
    position: absolute;
    top: 450px;
    left: 0;
}

.wrapper.active .form-wrapper.sign-up {
    transform: translateY(-450px);
    -webkit-transform: translateY(-450px);
    -moz-transform: translateY(-450px);
    -ms-transform: translateY(-450px);
    -o-transform: translateY(-450px);
}

h2 {
    color: #fff;
    text-align: center;
}

.input-group {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY();
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -5px;
}

.remember {
    margin: -5px 0 15px 5px;
}

.remember label {
    color: #fff;
    font-size: 14px;
}

.remember label input {
    accent-color: #806cf5;
}

button {
    position: relative;
    width: 100%;
    height: 40px;
    background: #806cf5;
    box-shadow: 0 0 10px #806cf5;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: none;
    outline: none;
}

.btn:hover {
    background-color: #323040;
}

.signUp-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}

.signUp-link p {
    color: #fff;
}
.signUp-link p a {
    color: #806cf5;
    text-decoration: none;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    
}
